extends base

block content
  h1 This is the tour detail page
  section.overview
    h1= tour
    //- .card-container
    //-   .card
    //-     .card__header
    //-       .card__picture
    //-         .card__picture-overlay %nbsp
    //-         img.card__picture-img(src='img/tour-1-cover.jpg', atl='Tour 1')

    //-       //- h3.heading-tertirary // TODO : do it later on, at the moment we only need a skeleton
